<c-container>
    <c-row class="mb-3 ">
      <c-col>
        <input cFormControl  type="text" placeholder="Search" />
      </c-col>
      <c-col class="d-flex justify-content-end">
        <!-- Right column for buttons aligned to the right -->
        <button cButton color="primary" class="me-2" (click)="toggleLiveDemo()">Add Purchase</button>
        <button cButton color="secondary" (click)="printTable()">Print</button>
      </c-col>
     
    </c-row>
    <div id="print-section">
  
    <c-row>
        <!-- Scrollable container with height 300px -->
    <div style="height: 450px; background-color:white;overflow-y: scroll;">
      <table cTable  [responsive]="true" >
        <thead >
          <tr>
            <th scope="col">Sr#</th>
            <th scope="col">Type </th>
            <th scope="col">Company </th>
            <th scope="col">Person</th>
            <th scope="col">Phone</th>
            <th scope="col">Area</th>
            <th scope="col">City</th>
            <th scope="col">Receivable</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          @for(expense of expenses;track expense.id){
          <tr >
            <th scope="row">{{ expense.id }}</th>
            <td>{{ expense.head }}</td>
            <td>{{ expense.description }}</td>
            <td>
              <span class="me-2" (click)="editExpense(expense)"  style="cursor: pointer;">
                 <svg cIcon class="icon icon-lg me-2"  name="cilPen" style="color:green;cursor: pointer;"></svg>
              </span>
              <span  color="danger" (click)="deleteExpense(expense.id!)" style="cursor: pointer;">
                 <svg cIcon class="icon icon-lg me-2" name="cil-trash" style="color:red;cursor: pointer;
                 "></svg>
                </span>
            
  
            </td>
          </tr>}
          @empty {
            <tr ><td class="text-center bg" colspan="9">There are no Purchase.</td></tr>
          }
        </tbody>
      </table>
    </div>
    </c-row>
    </div>
  </c-container>
  
  <!-- Modal for Adding/Editing Expense Heads -->
  <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)"  size="lg">
    <c-modal-header>
      <h5 cModalTitle>{{ isEdit ? 'Edit' : 'Add' }} Purchase</h5>  
        <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <form cForm [formGroup]="expensForm" (ngSubmit)="onSubmit()">
        <c-row>
            <c-col sm="6" md="6">
                <label cLabel for="descriptionInput">Purchase Type</label>
                <select aria-label="Default select example" cSelect>
                    <option>Please Select Purchase</option>
                    <option value="1">Bilal</option>
                    <option value="2">Ahmad</option>
                    <option value="3">jawad</option>
                  </select>  
            </c-col>
            <c-col xs="6" md="6">
                <label cLabel for="descriptionInput" class="form-label required">Purchase Code</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Purchase Code"
                       type="text"
                       formControlName="mobile"
                       name="mobile"
                       required
                />
            </c-col>
          </c-row>
        <div >
          <label cLabel for="expenseHeadInput">Name</label>
          <input cFormControl
                 id="expenseHeadInput"
                 placeholder="Name"
                 type="text"
                 formControlName="name"
                 name="name"
                 required
          />
        </div>
        <!-- <div >
          <label cLabel for="descriptionInput">Address</label>
          <input cFormControl
                 id="descriptionInput"
                 placeholder="Address"
                 type="text"
                 formControlName="address"
                 name="address"
                 required
          />
        </div> -->
        <div>
            <c-row>
                <c-col sm="6" md="6">
                    <label cLabel for="descriptionInput">Address</label>
          <input cFormControl
                 id="descriptionInput"
                 placeholder="Address"
                 type="text"
                 formControlName="address"
                 name="address"
                 required
          />
                </c-col>
                <c-col xs="6" md="6">
                    <label cLabel for="descriptionInput">City</label>
                    <!-- <input cFormControl
                           id="descriptionInput"
                           placeholder="Mobile"
                           type="text"
                           formControlName="mobile"
                           name="mobile"
                           required
                    /> -->
                    <select aria-label="Default select example" cSelect>
                        <option>Please Choose City</option>
                        <option value="1">test1</option>
                        <option value="2">test2</option>
                        <option value="3">tes23</option>
                      </select>
                </c-col>
              </c-row>
        <c-row>
            <c-col sm="6" md="6">
                <label cLabel for="descriptionInput">Phone No.</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Phone No"
                       type="text"
                       formControlName="phone"
                       name="phone"
                       required
                />  
            </c-col>
            <c-col xs="6" md="6">
                <label cLabel for="descriptionInput">Mobile</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Mobile"
                       type="text"
                       formControlName="mobile"
                       name="mobile"
                       required
                />
            </c-col>
          </c-row>
        <c-row>
            <c-col sm="6" md="6">
                <label cLabel for="descriptionInput">Email</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Email"
                       type="text"
                       formControlName="email"
                       name="email"
                       required
                />  
            </c-col>
            <c-col xs="6" md="6">
                <label cLabel for="descriptionInput">Area</label>
                <!-- <input cFormControl
                       id="descriptionInput"
                       placeholder="Fax"
                       type="text"
                       formControlName="fax"
                       name="fax"
                       required
                /> -->
                <select aria-label="Default select example" cSelect>
                    <option>Please Choose Area</option>
                    <option value="1">test1</option>
                    <option value="2">test2</option>
                    <option value="3">tes23</option>
                  </select>
            </c-col>
          </c-row>
        </div>
        <div >
            <label cLabel for="descriptionInput">Contact Person</label>
            <input cFormControl
                   id="descriptionInput"
                   placeholder="Contact Person"
                   type="text"
                   formControlName="contactPerson"
                   name="contactPerson"
                   required
            />
          </div>
          <c-row>
            <c-col sm="4" md="4">
                <label cLabel for="descriptionInput">Opening Balance</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Opening Balance"
                       type="text"
                       formControlName="openingBalance"
                       name="openingBalance"
                       required
                />  
            </c-col>
            <c-col xs="4" md="4">
                <label cLabel for="descriptionInput">Opening Balance Date</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Opening Balance Date"
                       type="date"
                       formControlName="openingBalanceDate"
                       name="openingBalanceDate"
                       required
                />
            </c-col>
            <c-col xs="4" md="4">
                <label cLabel for="descriptionInput">Current Balance</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Current Balance"
                       type="text"
                       formControlName="currentBalance"
                       name="currentBalance"
                       required
                />
            </c-col>
          </c-row>
          <c-row>
            <c-col sm="6" md="6">
                <label cLabel for="descriptionInput">Cash/Credit Purchase</label>
      <input cFormControl
             id="descriptionInput"
             placeholder="Cash/Credit Purchase"
             type="text"
             formControlName="address"
             name="address"
             required
      />
            </c-col>
            <c-col xs="6" md="6">
                <label cLabel for="descriptionInput">Credit Limit</label>
                <input cFormControl
                       id="descriptionInput"
                       placeholder="Credit Limit"
                       type="text"
                       formControlName="mobile"
                       name="mobile"
                       required
                />
            </c-col>
          </c-row>
      <c-modal-footer class="mt-3">
        <button (click)="toggleLiveDemo()" cButton color="secondary">Close</button>
        <button type="submit" [disabled]="!expensForm.valid" cButton color="primary">Submit</button>  </c-modal-footer>
      </form>
    </c-modal-body>
   
  </c-modal>
  